@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;800&display=swap');

*{
                margin:0;
                padding:0;
            }
            
            h1{ 
                font-size:4em;
                position:absolute;
                bottom:0px;
                right:25px;
                color:#fff;
                font-weight:100;
            }
            body{
                font-size:16px;
                font-family: 'Raleway', sans-serif;
            }
            header{
                height:400px;
                background-image:url(images/borabora.jpg);
                background-size:cover;
                background-position:center center;
                position:relative;
                
            }
            nav, p{
                margin:15px 25px
            }
            nav{text-align: center;
            margin-top:60px;
            }
            
                
                nav a{
                    font-size:1.5em;
                    text-decoration:none;
                    margin:0 10px;
                    padding-top:45px;
                    background-size:40px;
                    background-repeat:no-repeat;
                    background-position:center top;
                    color:#00bccc
                
            }
            
            #plane{
                background-image:url(images/icon-airplane.svg);
                
            }
            
            #bed{
                background-image:url(images/icon-bed.svg);
                
                 }
            
            #camera{
                background-image:url(images/icon-camera.svg);
                
                
            }